pytest>=9.1.1
pytest-env>=1.6.0
pytest-mock>=3.15.1
freezegun>=1.5.5
pytest-asyncio>=1.4.0

# only used in CI
coveralls>=4.1.0
mypy>=2.1.0
typing-extensions>=4.15.0
pytest-cov>=7.1.0
blinker>=1.9.0,<2.0

# used for type-checking
botocore-stubs>=1.43.14
